body {
  /* background-color: hsl(289, 13%, 17%); */
}
.registercontainer {
  padding-top: 11%;
}
.form {
  font-family: 'Public Sans', sans-serif;;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 2%;
  border-radius: 10px;
  background-color: rgb(206, 206, 214);
  font-size: 16px;
}
.loginbg {
  width: 60%;
  margin: 10%;
}

.col-1 {
  width: 45%;
  height: 20%;
}
.col-2 {
  width: 50%;
}

.back {
  /* background-color: rgb(47, 38, 49); */
}

@media only screen and (max-width: 844px) {
  [class*="col-"] {
    width: 80%;
    margin-left: 10%;
  }
  .logo {
    width: 25%;
    margin: 5%;
  }
  .form {
    padding: 5%;
  }
}
.scaled {
  transform: scale(0.9, 0.9);
}
.reg {
  /* background-color: rgb(47, 38, 49); */
}
.g-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.bottom {
  padding-top: 4%;
}
